.CategoryWrapper {
  margin-bottom: 1rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}

.CategoryWrapper > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.CategoryWrapper > [class^='InputGroup'] {
  margin: 0;
}
